.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(5.625rem, 3.943rem + 8.41vw, 10.25rem);
  color: #2a3659;
}
.navigation__container {
  display: flex;
  align-items: center;
  gap: clamp(3.75rem, 2.409rem + 6.7vw, 7.438rem);
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .navigation {
    column-gap: 28px;
    margin-bottom: 0;
    padding-inline: 20px;
  }
  .navigation__container {
    gap: 28px;
  }
}
@media (max-width: 376px) {
  .burger {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 42px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    cursor: pointer;
  }

  .burger span {
    display: block;
    margin-block: 2px;
    width: 13px;
    height: 1px;
    background-color: #2a3659;
  }
}
