.footer {
  background-color: #26323e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ede4db;
}
.footer__container {
  width: clamp(103.125rem, 86.125rem + 28.33vw, 107.375rem);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: clamp(5.419rem, 3.769rem + 2.75vw, 5.831rem);
  margin-top: clamp(2.375rem, -0.375rem + 4.58vw, 3.063rem);
  padding: calc(80% * 0.05);
}
.footer__block {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title__text {
  font-size: clamp(2.25rem, -0.75rem + 5vw, 3rem);
  line-height: clamp(5.75rem, 3.75rem + 3.33vw, 6.25rem);
}
.footer__logo_wrapper {
  height: clamp(2rem, 3.33vw, 2.5rem);
  display: flex;
  align-items: center;
  gap: clamp(1rem, -1rem + 3.33vw, 1.5rem);
}
.footer__logo {
  height: clamp(2.125rem, 0.625rem + 2.5vw, 2.5rem);
  width: clamp(1.75rem, -0.5rem + 3.75vw, 2.313rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__subtitle {
  font-size: clamp(1.5rem, -0.5rem + 3.33vw, 2rem);
  line-height: clamp(1.75rem, -0.25rem + 3.33vw, 2.25rem);
}
.footer__block_left {
  gap: clamp(1.688rem, -0.313rem + 3.33vw, 2.188rem);
}
.footer__block_center {
  height: clamp(4.5rem, 1.25rem + 5.42vw, 5.313rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-left: solid 1px #ede4db;
  border-right: solid 1px #ede4db;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: clamp(1rem, 1.67vw, 1.25rem);
}
.footer__list_center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(0.75rem, -0.5rem + 2.08vw, 1.063rem);
}
.footer__block_right {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
.footer__hr {
  height: 1px;
  background: #ede4db;
  width: 100%;
}
.footer__list_right {
  display: flex;
  align-items: center;
  gap: clamp(2.375rem, 1.125rem + 2.08vw, 2.688rem);
}
.footer__item_right {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(0.351rem, -0.161rem + 0.85vw, 0.479rem);
  padding-right: clamp(5.625rem, 2.875rem + 4.58vw, 6.313rem);

  padding-inline: calc(80% * 0.05);
}
.footer__bottom_list {
  display: flex;
  align-items: center;
  gap: clamp(2.688rem, -0.313rem + 5vw, 3.438rem);
}
.footer__bottom_text,
.contacts__text,
.footer__text_center {
  font-size: clamp(1rem, 1.67vw, 1.25rem);
  line-height: clamp(1.75rem, -0.25rem + 3.33vw, 2.25rem);
}

@media (max-width: 960px) {
  .footer__container {
    width: auto;
    padding-inline: 0;
    align-items: center;
  }
  .footer__top {
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
  }
  .footer__block_left,
  .footer__block_center,
  .footer__block_right {
    width: 100%;
    gap: 15px;
    align-items: flex-start;
  }
  .title__text {
    font-size: 24px;
    line-height: 26px;
  }
  .footer__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .footer__logo {
    width: 24px;
    height: 26px;
  }
  .footer__bottom_text,
  .contacts__text,
  .footer__text_center {
    font-size: 14px;
    line-height: 18px;
  }
  .footer__block_center,
  .footer__block_right {
    align-items: center;
  }
  .footer__block_center {
    border-style: none;
    border-top: solid 1px #ede4db;
    border-bottom: solid 1px #ede4db;
  }
  .footer__list_center {
    justify-content: center;
  }
  .footer__bottom_text {
    font-size: 10px;
  }
  .footer__bottom_list {
    padding: 0;
    gap: 15px;
  }
  .footer__bottom {
    padding: 10px 0;
    text-wrap: nowrap;
    gap: 15px;
  }
}
