@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}
.main {
  border-radius: clamp(2.188rem, 1.983rem + 2.02vw, 2.75rem);
  margin-top: -70px;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2px;
  width: 100%;
  flex-direction: column;
  width: 100%;
  background-color: #ecf2f6;
  border-radius: 44px 44px 0 0;
}
.section__container {
  width: clamp(86.375rem, 28.319rem + 43.07vw, 80rem);
  padding-top: clamp(9.375rem, 3.592rem + 9.56vw, 15.063rem);
  margin-bottom: clamp(6.25rem, 1.166rem + 8.4vw, 11.25rem);
}
.main__span {
  font-family: "PlayfairDisplay-Italic", serif;
}

@media (max-width: 960px) {
  .main {
    margin-top: 0;
  }
  .section {
    margin-top: -45px;
    border-radius: 16px 16px 0 0;
  }
  .section__container {
    width: 100%;
    padding-inline: 10px;
  }
}
