@font-face {
  font-family: "Manrope-Regular";
  src: url("../../../../../fonts/ManRope/Manrope-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../../../../../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

.section__h1 {
  font-family: "Manrope-Regular", sans-serif;
  font-size: clamp(1rem, 0.5rem + 0.83vw, 1.125rem);
  text-transform: uppercase;
  color: #2a3659;
}

.section__span {
  font-family: "PlayfairDisplay-Italic", sans-serif;
  color: #2a3659;
  font-weight: 700;
}
