.content {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 94px;
}
.label__wrapper {
  width: clamp(15rem, 13.182rem + 9.09vw, 20rem);
  height: clamp(3.75rem, 3.295rem + 2.27vw, 5rem);
  background-color: #cbd7e2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 50px;
}
.label {
  display: flex;
  align-items: center;
}
.input {
  background-color: transparent;
  height: 80%;
  outline: none;
}
.datalist {
  width: 100%;
}
