.burgerBody__wrapper {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
.burgerBody__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.burger__menu_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.burgerBody {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.burger__menu_close_img {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: -7px;
}

.burger__menu_close_img::before,
.burger__menu_close_img::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background-color: #ffffff; /* Цвет крестика */
  transition: transform 0.3s ease; /* Анимация при наведении */
}

.burger__menu_close_img::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger__menu_close_img::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.burger__menu_login {
  position: absolute;
  top: 50px;
  right: 25px;
}
.burger__menu_logo {
  position: absolute;
  top: 50px;
  left: 20px;
}
