.servicesBlock {
  width: 100%;
  height: 100vh;
}
.servicesBlock__container {
  display: flex;
  align-items: center;
  gap: clamp(0.438rem, -0.813rem + 2.08vw, 0.75rem);
  height: 100%;
  width: 100%;
}
