.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
  z-index: 1;
  padding: clamp(6.875rem, 4.905rem + 3.26vw, 8.813rem);
}
@media (max-width: 960px) {
  .video {
    padding: 0;
  }
}
