.fast__booking__nav {
  background: url("../../../assets/fast-booking_header_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  padding-top: 40px;
}
