.card {
  position: relative;
  background-image: url("../../../../../assets/card__bgr__services.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 790px;
  border-radius: 38px;
}
@media (min-width: 320px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .card {
    width: 47%;
  }
}
@media (min-width: 768px) {
  .card {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .card {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 30%;
  }
}
