.mainBtn {
  background-color: #7fadd2;
  width: 40%;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px 14px;
}

.services {
  background-color: #f2f2f2;
  position: relative;
}

.cities__bg {
  position: absolute;
  background-image: url("../../assets/fast-booking_main_bg.svg");
  width: 15.4%;
  top: 0;
  left: 0;
  bottom: 0;
}
.form {
  margin: 0 auto;
  padding-top: 2.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2.7rem;
}

.progress__header {
  color: #2a3659;
  font-size: 24px;
}

.progress {
  width: 68vw;
  height: 8px;
  border-radius: 10px;
  background-color: #d9d9d9;
  position: relative;
}

.step {
  height: 8px;
  width: 30%;
  border-radius: 10px;
  background-color: #7fadd2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 1400px) {
  .services .container {
    max-width: 1200px !important;
  }
}
