.title {
  font-size: clamp(1.875rem, 1.475rem + 2vw, 3.875rem);
  line-height: clamp(2.25rem, 1.775rem + 2.38vw, 4.625rem);
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 380px) {
  .title {
    font-size: clamp(1.5rem, 1.425rem + 0.38vw, 1.875rem);
    line-height: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem);
  }
}
