.card {
  background-image: url("../../../../../../assets/nichika-yoshida-4cIMzQtuxqY-unsplash\ 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 790px;
  border-radius: 38px;
}
