@import url("./zero_styles.css");
@font-face {
  font-family: "Manrope-Regular";
  src: url("./fonts/ManRope/Manrope-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("./fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Mulish-SemiBold";
  src: url("./fonts/Mulish-SemiBold/Mulish-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  font-family: "Manrope-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Manrope-Regular", sans-serif;
}
