.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: clamp(2.813rem, 2.472rem + 1.7vw, 3.75rem);
  cursor: pointer;
  transition: all 0.8s ease;
}
