.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1280px;
  gap: 30px;
}
