.cities {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80vh;
}
.title__row {
  margin-top: 5%;
  margin-bottom: 5%;
}
.city__title {
  font-size: clamp(1.125rem, 0.55rem + 2.88vw, 4rem);
  color: #2a3659;
}

.city__input__wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 7%;
}

.city__input {
  display: flex;
  gap: 32px;
  height: clamp(3.75rem, 3.5rem + 1.25vw, 5rem);
  background-color: #e2e9f3;
  border: none;
  border-radius: 30px;
  color: #2a3659;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #2a3659 1px solid;
  padding: 0 20px;
}

.city__input > img {
  width: 40px;
  height: 31px;
}

.city__input > img:nth-child(1) {
  width: 80px;
  height: 31px;
}

.city__input > input {
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
}

input::placeholder {
  color: #2a3659;
}
